Greetings <%= @user.login %>,

your account has been activated. You can start using now fypurl for your pleasure.

Use the following link to go to your page:
<%= @url %>

The happily fypped FYPpurl team