Greetings <%= @user.login %>,

as you requested we've created a new password for you. Use the following credentials
to log in:
    Login: <%= @user.login %>
    Password: <%= @password %>

You should change your password as soon as you log in.
<%= @url %>

The happily fypped FYPpurl team


