Greetings <%= @user.login %>

Your account has been created. Please activate it using the following link
<%= @url %>

Once you activate your account you can start loggin in using your credentials:
  Login: <%= @user.login %>
  Password: <%= @user.password %>

The happily fypped FYPpurl team

