<h2>unFYPpping!</h2>
<p>
    Congratulations, unFYP successful
</p>
<p>
    This window will be closed automatically in half a second.
    If not, just use this <a href="#" onclick='window.close()'>link</a>
</p>
<script type="text/javascript">
    setTimeout('window.close()',500);
</script>
